.game-info {
    max-width: 800px;
    margin: 0 auto 30px auto;
    padding: 20px;
    text-align: center;
}

.game-info h2 {
    margin-bottom: 10px;
    background-color: rgb(213, 171, 63);
    border: 1px solid black;
}

.game-info p {
    line-height: 1.6;
    color: black;
    background-color: darkgoldenrod;
    border: 1px solid black;
}