.dungeonPageContainer {
    display: grid;
    grid-template-columns: 250px 1fr; /* Sidebar + Content */
    grid-template-rows: 1fr auto;     /* Content + Bottom */
    gap: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.leftPanel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftPanel button {
    min-width: 100px;
    min-height: 100px;
    background-color: rgb(243, 243, 170);
}

.rightPanel {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.content {
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  min-height: 300px;
  background-color: rgb(4, 176, 4);
}


.dungeonHeader {
    margin-bottom: 20px;
    line-height: 1.6;
    color: black;
    background-color: rgb(2, 112, 2);
    border: 1px solid black;
}

.imageBox {
    
    background-color: white;
    max-width: 400px;
    display: block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

.descriptionBox {
  background-color: lightgoldenrodyellow; /* beliebige Farbe */
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.descriptionBox p {
    background-color: rgb(201, 201, 124);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.itemsBox {
background-color: lightgoldenrodyellow;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.4);
max-width: 600px;
margin: 20px auto;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
}

.itemsBox li {
    background-color: rgb(201, 201, 124);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.navigationButtons {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.navigationButtons button {
    padding: 8px 16px;
    border: 1px solid black;
    background-color: #4a533e;
    min-width: 200px;
    min-height: 70px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.navigationButtons button:hover {
    background-color: #5a6847;
}
